<a href="https://colab.research.google.com/github/amruthajuttuga/amrutha/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(x)

10

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
print(a+b+c)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a=10
print(type(a))

<class 'int'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=int(input("enter first number"))
b=int(input("enter second number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

enter first number29
enter second number46
75
-17
1334
0.6304347826086957

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
a="123"
print(int(a))
print(float(a))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
a=input("enter a string")
print(a[0])

enter a stringamrutha
a

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
a=input("enter a string")
print(len(a))

enter a stringammu
4

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
a=input("enter a string")
print(a.isalpha())

enter a stringjuttuga
True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
a=input("enter first string")
b=input("enter second string")
print(a+b)

enter first stringdurga
enter second stringthathaji
durgathathaji

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)


def find_substring_index(input_string):
    substring = "abc"
    index = input_string.find(substring)
    return index


if __name__ == "__main__":
    user_input = input("Enter a string: ")
    result = find_substring_index(user_input)

    if result != -1:
        print(f'The substring "abc" is found at index {result}.')
    else:
        print('The substring "abc" is not found in the given string.')

Enter a string: ammu
The substring "abc" is not found in the given string.

In [ ]:
# tWrite a Python program to convert a string to boh uppercase and lowercase. (User input for the string)

user_input = input("Enter a string: ")


uppercase_string = user_input.upper()


lowercase_string = user_input.lower()


print("Uppercase:", uppercase_string)
print("Lowercase:", lowercase_string)

Enter a string: lakshmi
Uppercase: LAKSHMI
Lowercase: lakshmi

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character

input_string = input("Enter a string: ")
char_to_count = input("Enter the character to count: ")


count = 0


for char in input_string:
    if char == char_to_count:
        count += 1


print(f"The character '{char_to_count}' appears {count} times in the string.")

Enter a string: juttuga
Enter the character to count: 7
The character '7' appears 0 times in the string.

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)

name = input("Please enter your name: ")


print(f"Hello, {name}, Good Morning!")

Please enter your name: amrutha
Hello, amrutha, Good Morning!

In [ ]:
# Write a Python program to take two numbers as input and print their sum.

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))


sum = num1 + num2


print("The sum of {0} and {1} is {2}".format(num1, num2, sum))

Enter the first number: 29
Enter the second number: 47
The sum of 29.0 and 47.0 is 76.0

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)

def display_user_info():

    name = input("Enter your name: ")
    age = input("Enter your age: ")


    formatted_string = "My name is {} and I am {} years old.".format(name, age)
    print(formatted_string)


display_user_info()

Enter your name: amrutha
Enter your age: 20
My name is amrutha and I am 20 years old.

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.

def check_number(num):
    if num > 0:
        return "The number is positive."
    elif num < 0:
        return "The number is negative."
    else:
        return "The number is zero."


number = float(input("Enter a number: "))


result = check_number(number)
print(result)

Enter a number: 23
The number is positive.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)

def find_max(num1, num2, num3):
    if (num1 >= num2) and (num1 >= num3):
        return num1
    elif (num2 >= num1) and (num2 >= num3):
        return num2
    else:
        return num3


num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))


max_num = find_max(num1, num2, num3)


print("The maximum number is:", max_num)

Enter the first number: 12
Enter the second number: 11
Enter the third number: 10
The maximum number is: 12.0

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)

def is_leap_year(year):
    if (year % 4 == 0):
        if (year % 100 == 0):
            if (year % 400 == 0):
                return True
            else:
                return False
        else:
            return True
    else:
        return False


year = int(input("Enter a year: "))


if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2004
2004 is a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)

def is_divisible_by_3_and_5(number):
    return number % 3 == 0 and number % 5 == 0


number = int(input("Enter a number: "))


if is_divisible_by_3_and_5(number):
    print(f"{number} is divisible by both 3 and 5.")
else:
    print(f"{number} is not divisible by both 3 and 5.")

Enter a number: 11
11 is not divisible by both 3 and 5.

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
def is_palindrome(s):

    s = s.replace(" ", "").lower()

    return s == s[::-1]


user_input = input("Enter a string: ")


if is_palindrome(user_input):
    print(f"'{user_input}' is a palindrome.")
else:
    print(f"'{user_input}' is not a palindrome.")

Enter a string: ammu
'ammu' is not a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.

num = 1


while num <= 20:

    if num % 2 == 0:

        print(num)

    num += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# he Write a Python program to print the multiplication table of a given number using a for loop. (User input for tnumber)

number = int(input("Enter the number: "))


print(f"Multiplication table for {number}:")
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Enter the number: 20
Multiplication table for 20:
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)



n = int(input("Enter a positive integer: "))

sum = 0
i = 1


while i <= n:
    sum += i
    i += 1


print(f"The sum of all numbers from 1 to {n} is {sum}")

Enter a positive integer: 2
The sum of all numbers from 1 to 2 is 3

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)



num = int(input("Enter a number: "))

factorial = 1


while num > 0:
    factorial *= num
    num -= 1


print("Factorial =", factorial)

Enter a number: 2
Factorial = 2

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)



nterms = int(input("How many terms? "))


n1, n2 = 0, 1
count = 0


if nterms <= 0:
    print("Please enter a positive integer")
elif nterms == 1:
    print("Fibonacci sequence up to", nterms, ":")
    print(n1)
else:
    print("Fibonacci sequence:")
    while count < nterms:
        print(n1)
        nth = n1 + n2

        n1 = n2
        n2 = nth
        count += 1

How many terms? 2
Fibonacci sequence:
0
1

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(1, 101) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
numbers = [10, 20, 30, 40, 55, 60, 70]

for number in numbers:
    if number > 50:
        print(f"Found a number greater than 50: {number}")
        break
    print(f"Current number: {number}")

Current number: 10
Current number: 20
Current number: 30
Current number: 40
Found a number greater than 50: 55

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for number in range(1, 21):
    if number % 2 == 0:
        continue
    print(number)

1
3
5
7
9
11
13
15
17
19

In [23]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
def sum_of_digits(number):
    total = 0
    while number > 0:
        total += number % 10
        number = number // 10
    return total

number = int(input("Enter a number: "))
print(f"The sum of the digits of {number} is {sum_of_digits(number)}")

Enter a number: 23
The sum of the digits of 23 is 5

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [25]:
# Write a Python program to create a list of integers and print the sum of the elements.


numbers = [1, 2, 3, 4, 5]


total_sum = sum(numbers)


print("The sum of the elements in the list is:", total_sum)

TypeError: 'int' object is not callable

In [26]:
# Write a Python program to find the largest element in a list.

def find_largest_element(lst):

    largest = lst[0]


    for element in lst:
        if element > largest:
            largest = element

    return largest


numbers = [10, 24, 45, 99, 67, 89]
print("The largest element in the list is:", find_largest_element(numbers))

The largest element in the list is: 99

In [27]:
# Write a Python program to remove all occurrences of a specific element from a list.
def remove_all_occurrences(lst, element):
    return [x for x in lst if x != element]


my_list = [1, 2, 3, 4, 2, 2, 3]
element_to_remove = 2
new_list = remove_all_occurrences(my_list, element_to_remove)
print("Original list:", my_list)
print("List after removing all occurrences of", element_to_remove, ":", new_list)

Original list: [1, 2, 3, 4, 2, 2, 3]
List after removing all occurrences of 2 : [1, 3, 4, 3]

In [28]:
# Write a Python program to find the index of an element in a list.

my_list = ['apple', 'banana', 'cherry', 'date']


element = 'cherry'


try:
    index = my_list.index(element)
    print(f"The index of '{element}' is: {index}")
except ValueError:
    print(f"'{element}' is not in the list.")

The index of 'cherry' is: 2

In [29]:
# Write a Python program to find if a specific element exists in a list.

my_list = [1, 2, 3, 4, 5]


element = 3


if element in my_list:
    print("Element found!")
else:
    print("Element not found.")

Element found!

In [30]:
# Write a Python program to remove duplicates from a list.
def remove_duplicates(input_list):

    return list(dict.fromkeys(input_list))


my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = remove_duplicates(my_list)
print(unique_list)

[1, 2, 3, 4, 5]

In [31]:
# Write a Python program to count the occurrences of an element in a list.

items = ['a', 'b', 'a', 'c', 'd', 'd', 'd', 'c', 'a', 'b']


count_a = items.count('a')

print(f"'a' occurs {count_a} times in the list.")

'a' occurs 3 times in the list.

In [32]:
# Write a Python program to get the number of even numbers in a list.
def count_even_numbers(numbers):
    even_count = 0
    for number in numbers:
        if number % 2 == 0:
            even_count += 1
    return even_count


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Number of even numbers:", count_even_numbers(numbers))

Number of even numbers: 5

In [33]:
# Write a Python program to create a tuple and print it.

my_tuple = (1, 2, 3, "Hello", 4.5)


print("The created tuple is:", my_tuple)

The created tuple is: (1, 2, 3, 'Hello', 4.5)

In [34]:
# Write a Python program to convert a tuple to a list and vice versa.

my_tuple = (1, 2, 3, 4)


my_list = list(my_tuple)

print("List:", my_list)

List: [1, 2, 3, 4]

In [35]:
# Write a Python program to find the maximum and minimum values in a tuple.

numbers = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)


max_value = max(numbers)


min_value = min(numbers)


print("The maximum value in the tuple is:", max_value)
print("The minimum value in the tuple is:", min_value)

The maximum value in the tuple is: 9
The minimum value in the tuple is: 1

In [36]:
# Write a Python program to unpack a tuple into variables.

my_tuple = (1, 2, 3)


a, b, c = my_tuple


print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3

1
2
3

In [37]:
# Write a Python program to add an element to a set and check if an element exists in the set.

my_set = {"apple", "banana", "cherry"}


my_set.add("date")


element_to_check = "banana"
if element_to_check in my_set:
    print(f"Yes, '{element_to_check}' is in the set.")
else:
    print(f"No, '{element_to_check}' is not in the set.")


print("Updated set:", my_set)

Yes, 'banana' is in the set.
Updated set: {'banana', 'date', 'cherry', 'apple'}

In [38]:
# Write a Python program to create a dictionary with keys and values and print it.

my_dictionary = {
    "name": "Alice",
    "age": 25,
    "city": "Hyderabad"
}


print(my_dictionary)

{'name': 'Alice', 'age': 25, 'city': 'Hyderabad'}

In [39]:
# Write a Python program to access a dictionary value using a key.

my_dict = {
    'name': 'Alice',
    'age': 25,
    'city': 'Hyderabad'
}


name_value = my_dict['name']
age_value = my_dict.get('age')


print(f"Name: {name_value}")
print(f"Age: {age_value}")

Name: Alice
Age: 25

In [40]:
# Write a Python program to check if a key exists in a dictionary.

my_dict = {'A': 1, 'B': 2, 'C': 3}


key = input("Enter key to check: ")


if key in my_dict:
    print(f"Key '{key}' is present and its value is: {my_dict[key]}")
else:
    print(f"Key '{key}' isn't present in the dictionary.")

Enter key to check: 2
Key '2' isn't present in the dictionary.

In [41]:
# Write a Python program to merge two dictionaries.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged_dict = dict1 | dict2
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [42]:
# Write a Python program to remove a key from a dictionary.

my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
removed_value = my_dict.pop('age')
print("Using pop():", my_dict)


my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
del my_dict['age']
print("Using del:", my_dict)


my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
my_dict.popitem()
print("Using popitem():", my_dict)

Using pop(): {'name': 'Alice', 'city': 'New York'}
Using del: {'name': 'Alice', 'city': 'New York'}
Using popitem(): {'name': 'Alice', 'age': 25}

In [43]:
# Write a Python program to get the number of keys in a dictionary.

my_dict = {
    'name': 'Alice',
    'age': 30,
    'city': 'Hyderabad',
    'profession': 'Engineer'
}


num_keys = len(my_dict)


print("Number of keys in the dictionary:", num_keys)

Number of keys in the dictionary: 4

In [44]:
# Write a Python program to find the largest and smallest values in a dictionary.

my_dict = {'a': 10, 'b': 50, 'c': 30, 'd': 20}

min_value = min(my_dict.values())


max_value = max(my_dict.values())

print(f"The smallest value in the dictionary is: {min_value}")
print(f"The largest value in the dictionary is: {max_value}")

The smallest value in the dictionary is: 10
The largest value in the dictionary is: 50

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [45]:
# Write a Python function that returns the square of a number.
def square(number):
    return number ** 2


result = square(5)
print(result)

25

In [46]:
# Write a Python function that accepts two parameters and returns their sum.
def add_numbers(a, b):
    return a + b

In [47]:
# Write a Python function to check if a given number is prime.
import math

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            return False
    return True


print(is_prime(29))
print(is_prime(28))

True
False

In [48]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):

    if n == 0 or n == 1:
        return 1
    else:

        return n * factorial(n - 1)


number = 5
print(f"The factorial of {number} is {factorial(number)}")

The factorial of 5 is 120

In [49]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exp):

    if exp == 0:
        return 1

    else:
        return base * power(base, exp - 1)


base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
result = power(base, exp)
print(f"{base} raised to the power of {exp} is {result}")

Enter the base: 2
Enter the exponent: 3
2 raised to the power of 3 is 8

In [50]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def list_length(lst):
    count = 0
    for item in lst:
        count += 1
    return count


my_list = [1, 2, 3, 4, 5]
print("The length of the list is:", list_length(my_list))

The length of the list is: 5

In [52]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional_args(*args, **kwargs):
    total = sum(args)
    print("Sum of positional arguments:", total)


sum_positional_args(1, 2, 3, a=4, b=5)

TypeError: 'int' object is not callable

In [53]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def find_maximum(num1=0, num2=0):
    """
    Function to find the maximum of two numbers using keyword arguments.
    """
    return max(num1, num2)


result = find_maximum(num1=10, num2=20)
print(f"The maximum number is: {result}")

The maximum number is: 20

In [54]:
# Write a Python function that accepts a list of numbers and returns their product.
def product_of_list(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product


numbers = [2, 3, 4]
result = product_of_list(numbers)
print(result)

24

In [55]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def check_even_odd(number):
    if number % 2 == 0:
        return f"{number} is even."
    else:
        return f"{number} is odd."


num = 7
result = check_even_odd(num)
print(result)

7 is odd.

In [56]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

squares = [x**2 for x in range(1, 11)]


print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


odd_numbers = [num for num in numbers if num % 2 != 0]

print("Odd numbers:", odd_numbers)

Odd numbers: [1, 3, 5, 7, 9]

In [58]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

words = ["apple", "bat", "carrot", "dog", "elephant"]


long_words = [word for word in words if len(word) > 4]


print(long_words)

['apple', 'carrot', 'elephant']

In [59]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

input_string = "Hello World! This is a Test String."


uppercase_letters = [char for char in input_string if char.isupper()]


print(uppercase_letters)

['H', 'W', 'T', 'T', 'S']

In [60]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci(n):
    fib_sequence = [0, 1]
    [fib_sequence.append(fib_sequence[-1] + fib_sequence[-2]) for _ in range(2, n)]
    return fib_sequence[:n]


n = 10
print(fibonacci(n))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [61]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

n = 10


squares_dict = {x: x**2 for x in range(1, n+1)}


print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [62]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

keys = ['a', 'b', 'c']
values = [1, 2, 3]


dictionary = {keys[i]: values[i] for i in range(len(keys))}


print(dictionary)

{'a': 1, 'b': 2, 'c': 3}

In [63]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

cubes_dict = {num: num**3 for num in range(1, 6)}


print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [64]:
# Write a Python program to square each element of a list using the map() function.

def square_num(n):
    return n * n


nums = [4, 5, 2, 9]


squared_nums = map(square_num, nums)


print(list(squared_nums))

[16, 25, 4, 81]

In [65]:
# Write a Python program to filter all even numbers from a list using the filter() function.

def is_even(num):
    return num % 2 == 0

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


even_numbers = list(filter(is_even, numbers))

print("Filtered list of even numbers:", even_numbers)

Filtered list of even numbers: [2, 4, 6, 8, 10]

In [66]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

is_divisible_by_3_and_5 = lambda x: x % 3 == 0 and x % 5 == 0


numbers = [15, 30, 45, 50, 60, 75, 80]
results = {num: is_divisible_by_3_and_5(num) for num in numbers}


for num, result in results.items():
    print(f"{num} is divisible by both 3 and 5: {result}")

15 is divisible by both 3 and 5: True
30 is divisible by both 3 and 5: True
45 is divisible by both 3 and 5: True
50 is divisible by both 3 and 5: False
60 is divisible by both 3 and 5: True
75 is divisible by both 3 and 5: True
80 is divisible by both 3 and 5: False

In [67]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

numbers = [1, 2, 3, 4, 5]


doubled_numbers = list(map(lambda x: x * 2, numbers))


print(doubled_numbers)

[2, 4, 6, 8, 10]

In [68]:
# Write a Python program to remove all occurrences of a specific element from a list.
def remove_all_occurrences(lst, element):
    return [x for x in lst if x != element]


my_list = [1, 2, 3, 4, 2, 2, 3]
element_to_remove = 2
new_list = remove_all_occurrences(my_list, element_to_remove)
print("Original list:", my_list)
print("List after removing all occurrences of", element_to_remove, ":", new_list)

Original list: [1, 2, 3, 4, 2, 2, 3]
List after removing all occurrences of 2 : [1, 3, 4, 3]

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`